body {
	background-color: #2e2e2e;
	background-size: auto;
	/*overflow-y: scroll;
	overflow-x: hidden;*/
}

h1 {
	color: White;
	font-family: Monospace;
	font-size: 50px;
	margin-left: 10%;
	position:absolute;
    top:18rem;
    width:auto;
    height:60px;
	
}

h2 {
	color: White;
	font-family: Monospace;
	font-size: 50px;
	margin-left: 7%;
	position:absolute;
    top:8rem;
    width:auto;
    height:60px;
	
}

b1 {	
	color: White;
	font-family: Monospace;
	font-size: 25;
	margin-left: 12%;
	margin-right: 5%;
	position:absolute;
    top:24rem;
    width:auto;
    height:60px;
}

b2 {	
	color: White;
	font-family: Monospace;
	font-size: 15;
	left: 5rem;
	position:absolute;
    top:15rem;
    width:auto;
    height:60px;
}

footer {
	position:absolute;
    bottom:0;
    width:auto;
    background: #363636;
	border-top: 3px solid #e0c426;
	color: white;
	font-family: Calibri;
	text-align: right;
	padding: 30px;
	left:0;
	right:0;
}

/*Links - NavMenu*/ 
	
links NM a:link, links NM a:visited {
	background-color: #4a4a4a;
	color: White;
	border: 40px #737373;
	padding: 25px 3rem;
	text-align: center;
	margin-top: 15px;
	text-decoration: none;
	display: inline-block;
	font-family: Calibri;
}

links NM a:hover {
	background-color: #cccccc;
	color: #1a1a1a;

}

links NM.active a{
	background-color: #e0c426;
	color: #1a1a1a;
}

/*Images*/

div.logo {
	position: absolute;
	top: 20px;
	left: 0;
	width: 1px;
	margin-left: 20px;
}

.featured{
	display: block;
	position: relative;
	margin-left: 10%;
	margin-right: auto;
	margin-top: 8rem;
	margin-bottom: auto;
	width: 650;
}

.featured:hover{
	display: block;
	position: relative;
	margin-left: 10%;
	margin-right: auto;
	margin-top: 8rem;
	margin-bottom: auto;
	width: 650;
	transform: scale(1.15);
}

.SM{
	display: block;
	position: static;
	width: 2rem;
	float: left;
	margin: 5px;
	
}

.SocialMedia {
	display: block;
	position: static;
	margin-left: 22rem;
	margin-top: 2rem;
	width: auto;	
}

/*Side Display*/


.SD{
	display: block;
	position: static;
	width: 120px;
	float: left;
	margin: 5px;
	
}

.SD:hover{
	display: block;
	position: static;
	width: 120px;
	float: left;
	margin: 5px;
	transform: scale(1.15);
}

.imagestrip {
	display: block;
	position: static;
	margin-left: 10%;
	margin-top: 2rem;
	width: auto;	
}